.cards-section{
    width: 85%;
    margin: 10% auto 5% auto;
}

.load-more-div{
    margin: 10px auto;
    width: 60%;
}

@media(min-width:768px){
   .cards-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
}