.search-section{
    margin: 15% auto 0px auto;
}

.search-section form{
    text-align: center;
}

.search-results article{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color:black;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #2f2c2c;
}

.control-result{
    width: 50%;
    margin: 0 auto;
}
.control-result div{
    text-align: center;
    width: 100%;
}
.control-result button{
    display: inline;
    width: 47%;
}
.control-result .clean-button{
    margin:0px 0px 0px 6%;
}

@media(min-width: 768px){
    .search-section{
        margin: 10% auto 0px auto;
    }
    .search-results article{
        width: 45%;
    }
}

@media(min-width:1024px){
    .search-section{
        margin: 8% auto 0px auto;
    }
    .search-results article{
        width: 30%;
    }
}